<div class="col-lg-12">
    <h1>Apoyo Estudiantil</h1>
</div>
<article>
    <div class="pd-bienestar">
    <ul>
    	<li>
    		<h3>MOTIVACIÓN BAJO DESEMPEÑO ACADÉMICO</h3>
    		<ul>
    			<li>TARJETA DE ÁNIMO</li>
    			<li>ESTUDIO CAUSAS</li>
    			<li>ESTRATEGIAS MEJORAMIENTO CAUSAS: Talleres, etc.</li>
    		</ul>
    	</li>
    	<li>
			<h3>MOTIVACIÓN MANTENIMIENTO EXCELENCIA ACADÉMICA</h3>
    		<ul>
    			<li>ANDIGRAF</li>
    			<li>INDUCCIÓN A ESTUDIANTES DE PRIMER SEMESTRE</li>
    			<li>FADP ¡ES ARTE! Exposición Cuadros</li>
    			<li>FADP ¡ES ARTE! Sala de Exposiciones</li>
    			<li>TARJETAS DE FELICITACIÓN</li>
    			<li>RECONOCIMIENTO EXCELENCIA ACADÉMICA</li>
    			<li>PREMIOS GRECAS</li>
    		</ul>
    	</li>
    	
    </ul>
    </div>
</article>