
<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Titulo de la noticia Dinamico</h3>
        </div>
        <div class="modal-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus harum temporibus itaque quidem hic voluptas iure provident, culpa accusamus quo excepturi nostrum, sapiente a rem sit commodi suscipit ex eligendi.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open('lg')">Ver Más...</button>
</div>