<section class="col-lg-6">
    <div class="col-lg-12">
        <h1>¿Que es?</h1>
    </div>
    <article>
        
        <p>
            •   El Departamento de Desarrollo Humano se encarga de diseñar, coordinar, ejecutar y evaluar proyectos, programas y/o servicios de Desarrollo Humano y Bienestar encaminados al desarrollo de la comunidad FADP (Estudiantes, egresados, docentes y funcionarios) mediante la generación de espacios y/o procesos para el crecimiento individual, grupal e institucional que conlleven a una formación integral.
        </p>
    </article>
</section>
<section class="col-lg-6">
    <div class="col-lg-12">
        <h1>Objetivo</h1>
    </div>
    <article>
        <p>
            •   Motivar un ambiente de integración de la comunidad, el crecimiento personal y de grupo, el ejercicio de los derechos y el cumplimiento de los deberes.

            •   Fortalecer en la comunidad el sentido de pertenencia institucional a través de un clima de convivencia, que facilite las condiciones para una buena calidad de vida de sus integrantes.

            •   Cultivar y desarrollar las aptitudes y habilidades estéticas, deportivas, artísticas, intelectuales y espirituales, por medio de programas y actividades que tengan carácter formativo.

            •   Fortalecer la cultura institucional, identidad que ha permitido fortalecer los procesos e innovación dentro de la institución. 

        </p>
    </article>
</section>